* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

body,
html {
  overflow-x: hidden;
}

nav {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}

#checkbox-menu,
.toogle {
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.menu li a {
  color: #000;
  text-decoration: none;
  align-self: center;
  font-size: 13px;
  padding: 10px 15px;
  transition: background 0.2s linear;
}

.menu li a:hover {
  background: #ffcc01;
  border-radius: 10%;
}

.menu li a.logo {
  font-size: 25px;
  margin-right: 250px;
}

.menu li a.contacts {
  margin-right: 100px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;

}

.lol {}

.intro {
  margin-top: 25px;
  position: relative;
  display: flex;
  justify-content: center;
}

#videoBG {
  width: 965px;
  position: absolute;
}

.intro-img {
  width: 965px;
  height: 542.813px;
}

.intro .intro-text {
  position: relative;
  font-size: 62px;
  left: 50px;
  top: 80px;
  color: #fff;
}

.intro-contacts {
  background-color: #ffcc00;
  position: absolute;
  max-width: 590px;
  bottom: 60px;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  opacity: 60%;
}

.intro-contacts:hover {
  opacity: 100%;
}

.intro-contacts i {
  color: #fff;
  margin-right: 30px;
}

.intro-contacts p {
  font-size: 18px;
  margin-right: 30px;
}

.stats {
  display: flex;
  margin-top: 150px;
}

.stats-line {
  display: flex;
}

.stats-text {
  padding: 40px;
}

.stats-text h2 {
  font-size: 40px;
  margin-bottom: 70px;
}

.stats-text p {
  margin-top: 50px;
  font-size: 13px;
  line-height: 27px;
}

.square {
  width: 200px;
  height: 200px;
  background-color: #f6f5f4;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-block {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.box {
  height: 250px;
  ;
  width: 250px;
  background-color: #f6f5f4;
  padding: 20px;
  margin: 20px;
}

.box:hover{
    background-color: #ffcc01;
    transition: 1s;
    transform: scale(1.2) rotate(3deg);

}

.text-header {
  text-align: center;
}

.text {
  text-align: center;
}

.logo-cart img {
  margin-left: 100px;
}

@media screen and (max-width: 823px) {
  .toogle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    color: #000;
    background: #ffcc01;
    transition: all 0.1s linear;
  }

  .toogle:hover {
    background: #d3a900;
  }

  #checkbox-menu:checked+label .touch li {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s linear;
  }

  #checkbox-menu:checked+label .touch {
    height: 350px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0;
    transition: height 0.4s linear;
  }

  .menu li {
    display: flex;
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }

  .menu li a {
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
  }

  .menu li a.logo {
    margin-right: 0;
  }

  .menu li a.contacts {
    margin-right: 0;
  }

  .intro {
    margin-top: 0;
    max-width: 100%;
  }

  .intro .intro-text {
    font-size: 30px;
  }

  .intro-contacts i {
    margin-right: 8px;
  }

  .intro-contacts p {
    font-size: 14px;
    margin-right: 8px;
  }

  .stats {
    display: list-item;
  }
}
